<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Kalam Academy</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-eduwell-style.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">
    <link rel="stylesheet" href="static/assets/css/lightbox.css">
<!--

TemplateMo 573 EduWell

https://templatemo.com/tm-573-eduwell

-->
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                          <img src="static/assets/images/logo.png" alt="EduWell Template">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#services">Services</a></li>
                          <li class="scroll-to-section"><a href="#courses">Courses</a></li>
                          <li class="scroll-to-section"><a href="#testimonials">Testimonials</a></li> 
                          <li class="scroll-to-section"><a href="#contact-section">Contact Us</a></li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>Welcome to our academy</h6>
            <h2>Best Place Land Your <em>Dream Job!!</em></h2>
            <div class="main-button-gradient">
              <a href="https://forms.gle/oToJM69BTudpR4Zg8" target="_blank" rel="noopener noreferrer">Register Us Now!</a>
            </div>          
            
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="static/assets/images/banner-right-image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Our Services</h6>
            <h4>Provided <em>Services</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="static/assets/images/service-icon-01.png" alt="">
                </div>
                <h4>Job Training</h4>
                <p>Unlock exclusive referrals and fast-track your hiring journey.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="static/assets/images/service-icon-02.png" alt="">
                </div>
                <h4>Expert Mentorship</h4>
                <p>Learn from industry leaders and career champions.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="static/assets/images/service-icon-03.png" alt="">
                </div>
                <h4>Resume Building</h4>
                <p>Stand out with a resume that gets recruiters talking.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="static/assets/images/service-icon-04.png" alt="">
                </div>
                <h4>Mock Interviews</h4>
                <p> Real-time interview simulations with expert feedback..</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="static/assets/images/service-icon-01.png" alt="">
                </div>
                <h4>100% Placement Support</h4>
                <p>Your success is our commitment—until you’re hired!</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="static/assets/images/service-icon-02.png" alt="">
                </div>
                <h4>Job Portal Tricks</h4>
                <p> Hidden secrets to crack top job portal</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="static/assets/images/service-icon-03.png" alt="">
                </div>
                <h4>Ready Target</h4>
                <p> Precision-driven job search for maximum success.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="static/assets/images/service-icon-04.png" alt="">
                </div>
                <h4>Technology</h4>
                <p>AI-powered career solutions for smarter job hunting.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="static/assets/images/service-icon-01.png" alt="">
                </div>
                <h4>Secret Job Search Tips</h4>
                <p>Insider hacks to beat the competition.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="static/assets/images/service-icon-02.png" alt="">
                </div>
                <h4>Creative Ideas</h4>
                <p>Smart, unconventional strategies to land your dream job.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="static/assets/images/service-icon-03.png" alt="">
                </div>
                <h4>Job Alerts</h4>
                <p>Never miss an opportunity—get instant job updates.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="static/assets/images/service-icon-04.png" alt="">
                </div>
                <h4>Job Referrals</h4>
                <p>Unlock exclusive referrals and fast-track your hiring journey.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>OUR COURSES</h6>
            <h4>What You Can <em>Learn</em></h4>
            <p>You just think about TemplateMo whenever you need free CSS templates for your business website</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border"><span>Premium Level</span></div>
                    <div class="gradient-border"><span>Advance Level</span></div>
                    <div class="gradient-border"><span>Pro - Level</span></div>
                    <div class="gradient-border"><span>Overview</span></div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-image">
                          <img src="static/assets/images/courses-01.jpg" alt="">
                          
                        </div>
                        <div class="right-content">
                          <h4>🔥Premium Level</h4>
                          <p>Identify your strengths and career path. Learn industry-demanded skills to stay ahead. 
                          <br><br>Full access to top job portals for better opportunities. Get a ready-made guide with real interview questions & answers. <br><br> Create a standout <strong>resume</strong> & <strong>portfolio</strong>  to impress recruiters.Stay ahead with real-time job updates.</p>
                          <span>6 Sessions</span>
                          <span>50 Days</span>
                          <span class="last-span"></span>
                          <div class="text-button">
                            
                            <a href="https://forms.gle/oToJM69BTudpR4Zg8" target="_blank" >Learn More </a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="static/assets/images/courses-02.jpg" alt="">
                          <div class="price"><h6>$156</h6></div>
                        </div>
                        <div class="right-content">
                          <h4>🚀Advance Level</h4>
                          <p>Includes Everything in the <strong>Premium Plan</strong> . Additionaly<br><br>Learn how to use AI for job searching, resume building, and upskilling.Learn at your own pace with high-quality content. <br> <br> Track your progress, job applications, and interview feedback. <br> <br> Personalized career coaching every week to keep you on track.</p>
                          <span>11 Sessions</span>
                          <span>75 days </span>
                          <span class="last-span">Video access</span>
                          <div class="text-button">
                            <a href="https://forms.gle/oToJM69BTudpR4Zg8" target="_blank" >Learn More</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="static/assets/images/courses-03.jpg" alt="">
                          
                        </div>
                        <div class="right-content">
                          <h4>🏆Pro Level</h4>
                          <p> Includes Everything in the <strong>Advanced Plan PLUS</strong>: We track your progress & help you improve consistently.
                            <br><br> Interact with real-world industry leaders & hiring managers. <br><br> Get direct referrals to leading companies.Gain real-world experience through hands-on projects.</p>
                          
                          <span>20 Sessions</span>
                          <span>100 Days</span>
                          <span class="last-span">Tracking & Mentorship</span>
                          <div class="text-button">
                            <a href="https://forms.gle/oToJM69BTudpR4Zg8" target="_blank" >Learn More</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="static/assets/images/courses-04.jpg" alt="">
                          
                        </div>
                        <div class="right-content">
                          <h4>List of Jobs</h4>
                          <p> IT & Non IT<br><br>Data Science & AI Machine Leaning <br><br> Digital Marketing <br><br> Video Editing & Content Creation <br> <br> All industry jobs</p>

                          
                          <div class="text-button">
                            <a href="https://forms.gle/oToJM69BTudpR4Zg8" target="_blank" >Learn More</a>
                          </div>
                        </div>
                      </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <div class="left-image">
            <img src="static/assets/images/cta-left-image.png" alt="">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h6>Why Choose us!</h6>
          <h4>Up to 50% refund not satisfied </h4>
          <p>✅ Proven Track Record: <strong>100+</strong> job seekers successfully placed. <br> <br> ✅ Industry Experts: Learn from professionals working in top companies.
          <br> <br> ✅ Real-World Skills: Practical training beyond theory. <br> <br> ✅ Complete Job Search Support: From resume to offer letter—every step covered.
        <br> <br> ✅ 100% Career Placement Assistance: We are committed untill your success!     </p>

        </div>
      </div>
    </div>
  </section>
  <section class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading">
            <h6>More Info</h6>
            <h4>Read More <em>About Us</em></h4>
          </div>
          <p>We are a dedicated trust committed to empowering job seekers by providing free training, mentorship, and job placement support.
             <br><br> <strong>Our Mission</strong>  To bridge the gap between job seekers and industry needs by offering structured career development programs that enhance employability.
            <br> <br> <strong>Our Vision</strong>  To create a world where every deserving candidate gets the right job opportunity without financial barriers.</p>
          <ul>
            <li>✅ Free career guidance & industry insights</li>
            <li>✅ Resume & Direct job referrals & placement assistance</li>
            <li>✅ Hands-on projects & portfolio building.</li>
            <li>✅ Interview preparation with expert mentorship</li>
          </ul>
        </div>
        <div class="col-lg-6 offset-lg-1 align-self-center">
          <div class="row">
            <div class="col-6">
              <div class="count-area-content">
                <div class="count-digit">125</div>
                <div class="count-title">Finished Sessions</div>
              </div>
            </div>
            <div class="col-6">
              <div class="count-area-content">
                <div class="count-digit">5</div>
                <div class="count-title">Years Experience</div>
              </div>
            </div>
            <div class="col-6">
              <div class="count-area-content">
                <div class="count-digit">45</div>
                <div class="count-title">Happy Clients</div>
              </div>
            </div>
            <div class="col-6">
              <div class="count-area-content">
                <div class="count-digit">18</div>
                <div class="count-title">Current students</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Success Story</h6>
            <h4>What They <em>Think</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
            <div class="item">
              <p> I was struggling to get interviews despite applying to hundreds of jobs. This program transformed my job search! The resume-building session helped me create an ATS-friendly resume, and the mock interviews boosted my confidence.
                 Within two months, I landed my dream job at a leading tech company</p>
                <h4>Rohit S</h4>
                <span>Jr.Data Analyst &amp; Infosys</span>
                <img src="static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>I kept facing rejection due to a weak resume and lack of interview confidence. This program provided expert guidance, a strong portfolio, and personalized one-on-one mentorship. Within weeks, I started getting interview calls, and within three months, I secured a high-paying job with a reputed company.</p>
                <h4>Priya M</h4>
                <span>Software Developer &amp; Amazon</span>
                <img src="static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>"I was applying to hundreds of jobs without any responses. The AI job search tools and portal tricks I learned here helped me apply strategically. Within weeks, I got multiple interview calls and secured an offer!"</p>
                <h4>Vikram R.</h4>
                <span>Marketing Executive &amp;Accenture</span>
                <img src="static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>I had experience but struggled with job portals and networking. This program gave me exclusive access to job referrals and advanced job portal training. The weekly mentorship sessions helped me refine my approach</p>
                <h4>Helen D</h4>
                <span>Tech Support Executive</span>
                <img src="static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>"Before joining, I was lost in my career. This program helped me with goal setting, skill development, and resume optimization. The expert mentorship guided me to the right opportunities. Within a few weeks, I landed a role in my desired field. The structured approach and 24/7 support made all the difference!"</p>
                <h4>George S</h4>
                <span>Business Analyst</span>
                <img src="static/static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>"As a fresher, I had no idea how to approach job hunting. The resume-building, mock interviews, and job portal tricks made the process so much easier. The AI tools training was a bonus! Within three months, I got placed in a reputed firm. The team’s dedication to each candidate is truly commendable!</p>
                <h4>Andrew H</h4>
                <span>Front end Developer</span>
                <img src="static/static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>"I was stuck in a stagnant job with no growth. The personalized career roadmap helped me identify better opportunities. The salary negotiation training alone got me a 40% higher package! The one-on-one mentorship gave me clarity and confidence. I’ve now transitioned into a leadership role in my industry!"</p>
                <h4>Sakshi P</h4>
                <span>Designer</span>
                <img src="static/static/assets/images/quote.png" alt="">
            </div>
            <div class="item">
              <p>"I wanted to work abroad but didn’t know where to start. The LinkedIn optimization and networking strategies helped me connect with international recruiters. Within six months, I secured a job overseas with a great salary package! The job referral support was outstanding!"</p>
                <h4> Kunal D</h4>
                <span>Data Scientist </span>
                <img src="static/static/assets/images/quote.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div id="map">
          	<!-- You just need to go to Google Maps for your own map point, and copy the embed code from Share -> Embed a map section -->
           
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.1138120412643!2d80.23957231065613!3d13.028423687239208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52671f0d85cba1%3A0x272abbb78b2d75d!2sB2%20Juice%20Bar!5e0!3m2!1sen!2sin!4v1741173098789!5m2!1sen!2sin" width="100%" height="400px" frameborder="0" style="border:0; border-radius: 15px; position: relative; z-index: 2;" allowfullscreen=""></iframe>
            <div class="row">
              <div class="col-lg-4 offset-lg-1">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>Phone</h4>
                  <span>82480 13321 </span>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>Mobile</h4>
                  <span>63836 00142</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Contact us</h6>
                  <h4>Say <em>Hello</em></h4>
                  <p>If you are interested to  join with us click more info. <br> <br> Warmly Welcome  </p>
                </div>
              </div>

              <div class="col-lg-12">
                <fieldset>
                  <a href="https://forms.gle/oToJM69BTudpR4Zg8" class="main-gradient-button" target="_blank" rel="noopener noreferrer">More Info</a>

                </fieldset>
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="https://wa.me/8248013321" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
            <li><a href="https://www.linkedin.com/in/govarthananks" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="mailto:govarthananmba768@gmail.com"><i class="fa fa-envelope"></i></a></li>
            

          </ul>
        </div>

      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/assets/js/isotope.min.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/lightbox.js"></script>
    <script src="static/assets/js/tabs.js"></script>
    <script src="static/assets/js/video.js"></script>
    <script src="static/assets/js/slick-slider.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>